* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #0c1014;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box; }
  body h1 h2 h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; }
  body nav {
    margin: 0 1em; }
    body nav .navbar-brand {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 2.2em;
      background: linear-gradient(to right, #f35e84, #513bff, #23bffd, #9bf9ce);
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    body nav .nav-item {
      margin: 0 1em; }
      body nav .nav-item a {
        color: #fff;
        letter-spacing: 1px;
        font-weight: 100; }
  body .card-deck {
    margin: 10px 0;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
    body .card-deck .card {
      background-color: transparent;
      display: flex;
      justify-content: center;
      transition: all 0.35s ease-in-out; }
      body .card-deck .card .card-img-top {
        border-radius: 20px; }
      body .card-deck .card .card-title {
        font-weight: 900; }
      body .card-deck .card .card-vote {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(6em, -1.5em);
        margin-bottom: -30px;
        width: 56px;
        height: 56px;
        background-color: #fff;
        border-radius: 100%; }
        body .card-deck .card .card-vote .vote {
          position: relative;
          background-color: #333;
          color: #fff;
          font-weight: 900;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px; }
      body .card-deck .card:hover {
        transform: scale(1.2);
        cursor: pointer; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000009d; }
  .modal .close {
    text-align: right;
    margin-right: 17px;
    margin-bottom: -33px;
    font-size: 2em;
    text-shadow: none;
    color: #fff;
    font-weight: 100;
    z-index: 100; }
  .modal .modal-content {
    width: 50%;
    background-color: #000;
    border-radius: 0.5em; }
    .modal .modal-content img {
      border-radius: 0.5em;
      width: 100%;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)); }
    .modal .modal-content h1 {
      font-weight: 900; }
    .modal .modal-content i {
      font-size: 15px;
      position: relative;
      top: -15px;
      left: 5px; }
    .modal .modal-content p {
      font-family: "Lato", sans-serif;
      font-size: 1.2em; }
    .modal .modal-content .content {
      padding: 1em 2em; }
